body {
    background-image: url('background.png');
    background-size: cover;
    text-align: center;
}
h1, h2, h3 {
    font-variant: small-caps;
    font-weight: 800;
    -webkit-background-clip: text;
}
.wt {
    color: white;
}
.logo {
    width: auto;
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 3.2em;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        rgb(255, 255, 255) 46%,
        rgb(197, 197, 197) 49%,
        rgb(211, 226, 249) 80%
      );
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(36, 36, 36);
}
h2 {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        rgb(255, 255, 255) 1%,
        rgb(153, 153, 153) 50%,
        rgb(66, 79, 109) 99%
    );
    -webkit-text-fill-color: transparent;
}
h3 {
    color: rgb(0, 255, 128);
    background-image: linear-gradient(
        rgb(0, 255, 128) 1%,
        rgb(17, 192, 169) 99%
    );
    -webkit-text-fill-color: transparent;
}
button {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        rgb(53, 45, 0) 0%,
        rgba(0, 26, 82) 100%
    );
    border-radius: 6px;
    font-size: 18px;
    padding: 6px 11px;
}
button:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        rgb(120, 110, 0) 0%,
        rgba(0, 110, 120) 100%
    );
    border-color: rgb(180, 180, 180);
}
a {font-family: 'Trebuchet MS', sans-serif; color: rgb(0, 255, 255)}
a:visited {font-family: 'Trebuchet MS', sans-serif; color: rgb(255, 255, 30)}