/* main */
@keyframes glow {
	from {
		filter: brightness(1.5)
	}
	to {
		filter: brightness(0.75)
	}
}
@keyframes glow2 {
	from {
		filter: brightness(1.55)
	}
	to {
		filter: brightness(1.35)
	}
}

/* neon */
@keyframes hue-rotate {
	0%, 100% {
		border-color: #F00;
		box-shadow: 0 0 12px #F00;
	}
	20% {
		border-color: #FF0;
		box-shadow: 0 0 10px #FF0;
	}
	40% {
		border-color: #0F0;
		box-shadow: 0 0 8px #0F0;
	}
	60% {
		border-color: #0FF;
		box-shadow: 0 0 9.3px #0FF;
	}
	80% {
		border-color: #F0F;
		box-shadow: 0 0 10.7px #F0F;
	}
}
@keyframes hue-rotate-outline {
	0%, 100% {
		outline: 2px solid #F00;
		box-shadow: 0 0 12px #F00;
	}
	20% {
		outline: 2px solid #FF0;
		box-shadow: 0 0 10px #FF0;
	}
	40% {
		outline: 2px solid #0F0;
		box-shadow: 0 0 8px #0F0;
	}
	60% {
		outline: 2px solid #0FF;
		box-shadow: 0 0 9.3px #0FF;
	}
	80% {
		outline: 2px solid #F0F;
		box-shadow: 0 0 10.7px #F0F;
	}
}
@keyframes hue-rotate-text {
	0%, 100% {
		text-shadow: 0 0 8px #F88
	}
	20% {
		text-shadow: 0 0 8px #FF8
	}
	40% {
		text-shadow: 0 0 8px #8F8
	}
	60% {
		text-shadow: 0 0 8px #8FF
	}
	80% {
		text-shadow: 0 0 8px #F8F
	}
}

/* ascension text */
@keyframes lu-text-rainbow {
    from {
		filter: hue-rotate(0deg);
	} to {
		filter: hue-rotate(360deg);
	}
}
@keyframes lu-text-bounce {
    from {
		font-size: max(102.5px, 18vw);
		text-shadow: 0 0 10px #fff3f3, 0 0 20px red, 5px 5px 4px blue;
	} to {
		font-size: max(102.5px, 13vw);
		text-shadow: 0 0 10px #140000, 0 0 20px red, 5px 5px 4px blue;
	}
}
@keyframes lu-text-motion {
	from {
		transform: translate(-50%, -50%) translateY(90vh);
	} to {
		transform: translate(-50%, -50%) translateY(-90vh);
	}
}

/* ascension background */
@keyframes lu-background-fade {
    0%, 100% {
        filter: opacity(0)
    }
    17%, 83% {
        filter: opacity(1)
    }
}
@keyframes lu-background-glow {
    0%, 100% {
        filter: none
    }
    17%, 83% {
        filter: blur(1vw) contrast(.92) brightness(25);
    }
	17.01%, 82.99% {
		filter: none
	}
}

/* exponential bars */
@keyframes pb-filter-x {
	from {
		background-position-x: 0;
	} to {
		background-position-x: 100%;
	}
}
@keyframes pb-filter-y {
	from {
		background-position-y: 0;
		filter: brightness(0.8);
	} to {
		background-position-y: 100%;
		filter: brightness(1.2);
	}
}
@keyframes pb-filter-hue {
	from {
		filter: hue-rotate(0);
	} to {
		filter: hue-rotate(360deg);
	}
}