html {
	height: 100%;
}
body {
	font-family: gameFont;
}
.menu {
	top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    position: absolute;
}
.logo {
	width: 30.6%;
	height: auto;
	transform: translate(-8px, -8px)
}
.gamescreen {
	width: calc(70% - 4px);
	height: 100%;
	right: 0%;
	top: 0%;
	position: absolute;
	padding-left: 4px;
	overflow: auto;
}
.tabcontent {
	right: 0%;
	top: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
}
.progress {
	height: 61px;
	margin: 4px;
}
.pb-add {
    padding: 0;
    border-radius: 50%;
    border-width: 3px;
    position: absolute;
    z-index: 2;
    transition: filter 0.54s;
    filter: brightness(1);
}
.pb-add:hover {
	filter: brightness(1.4);
}
.pb-add:active {
	filter: brightness(0.7);
}
.pb-img {
    border-radius: 50%;
    width: 55px;
    height: auto;
}
.pb-container {
	height:30px;
	width:200px;
	overflow:hidden;
	transform: translate(56px,16px);
	position: absolute;
	z-index: 1;
}
.pb-prog {
	height:100%;
	width:0%;
	float:left;
	color: black;
}
.pb-level {
	display: table-cell;
	width: 90px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	transform: translate(270px,6px);
	font-family: gameFont;
	white-space: pre-wrap;
	color: black;
}
.pb-buy {
	width: 95px;
	height: 58px;
	border-radius: 0;
	border-width: 4px;
	transform: translate(370px,-48px);
	font-family: gameFont;
	white-space: pre-wrap;
	transition: font-size 0.5s;
}
.pb-buy:hover {
	font-size: 14px
}
.pb-buy:active {
	font-size: 12px
}
.pb-text {
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-family: gameFont;
	text-align: center;
	white-space: pre-wrap;
	width: 100%;
	font-size: 12px;
}
@font-face {
    font-family: gameFont;
    src: url(https://fonts.cdnfonts.com/s/9006/MonospaceTypewriter.woff);
}
h1, h2, h3, h4, h5, h6 {
	font-family: gameFont;
}
.menu-button {
	border-radius: 7px;
	border-width: 4px;
	font-family: gameFont;
	font-size: 16px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 51%);
    transition: font-size 0.5s, border-radius 0.5s;
    width: calc(30% - 11px);
    height: 40px;
}
.menu-button:active {
	filter: brightness(70%)
}
.menu-button:hover {
    font-size: 20px;
    border-radius: 15px;
}
.upg-button {
	border-radius: 15px;
	border-width: 7px;
	font-family: gameFont;
	font-size: 20px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 51%);
    width: 220px;
    height: 220px;
	white-space: pre-wrap;
	vertical-align: top;
	margin-right: -4px;
	transition: border-radius 0.64s, filter 0.64s;
	filter: brightness(1);
}
.upg-button:hover {
	border-radius: 30px;
	filter: brightness(1.25);
}
.upg-button:active {
	border-radius: 10px;
	filter: brightness(0.75);
}
.main {
	display: grid;
}
.button {
	height: 48px;
	border-radius: 2.5px;
	border-width: 4px;
	font-family: gameFont;
	white-space: pre-wrap;
	border-color: #444;
	background-image: linear-gradient(#FFF 0%, #CCC 100%);
}
.title {
	-webkit-background-clip: text;
}