/* Main */
@import 'animation.css';
@font-face {
    font-family: gameFont;
    src: url(https://fonts.cdnfonts.com/s/9006/MonospaceTypewriter.woff);
}
@font-face {
    font-family: jsab;
    src: url(https://db.onlinewebfonts.com/t/c9f309b3d47969ecac64a77a6c672594.ttf);
}
h1, h2, h3, h4, h5, h6 {
	font-family: gameFont;
}
html {
	height: 100%;
}
body {
	font-family: gameFont;
	white-space: nowrap;
	margin: 0;
	overflow: hidden;
}
.break {
	white-space: break-spaces;
}

/* Game screen */
.main {
	width: 30%;
	height: 100%;
	min-width: 192px;
	transition: width 0.5s, min-width 0.5s;
	white-space: initial;
	float: left;
	text-align: center;
}
.main.min {
	width: 76.8px;
	min-width: 0;
}
.logo {
	width: 100%;
	height: auto;
}
.gamescreen {
	width: 70%;
	min-width: 448px;
	height: 100%;
	overflow: hidden;
	transition: width 0.5s;
	display: inline-block;
	position: absolute;
}
.gamescreen.min {
	width: calc(100% - 76.8px);
	min-width: 563.2px;
}
#tabs {
	width: 100%;
	min-width: 448px;
	height: calc(100% - 36px);
	overflow: hidden;
	position: absolute;
}

/* tabs */
.scr-progress {
	background-attachment: fixed;
	min-height: 100%;
}
.scr-options {
	background-attachment: fixed;
	text-align: center;
}
.scr-upgrades {
	background-attachment: fixed;
	min-height: 100%;
	white-space:normal;
}
.scr-guide {
	background-attachment: fixed;
	min-height: 100%;
	text-align: center;
}
.scr-stats {
	background-attachment: fixed;
	min-height: 100%;
}

/* Layer Up */
#whitescreen {
	width: 100%;
	height: 100%;
	background-color: white;
	vertical-align: middle;
	z-index: 4;
	position: absolute;
}
#whitescreentext {
	white-space: nowrap;
	margin: 0;
	position: absolute;
	top: 50%;
    left: 50%;
	transform: translateY(-999%);
	font-family: jsab;
	font-size: max(102.5px, 16vw);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
	    hsl(0deg, 100%, 8%),
	    hsl(-60deg 35% 5%)
	);
}

/* Animation triggers 
#whitescreen[anim-trig] {
	animation: 6s linear lu-background-fade
}
#whitescreentext[anim-trig] {
	animation: 2s linear infinite lu-text-rainbow,
			   .5s cubic-bezier(0, 1.08, 0.77, 1) infinite lu-text-bounce,
			   4s cubic-bezier(0, 1, 1, 0.01) lu-text-motion;
}
#tabs[anim-trig] {
	animation: 6s linear lu-background-glow
}*/

/* progress bars */

.progress {
	height: 61px;
	margin: 4px;
}
.pb-add {
    padding: 0;
    border-radius: 50%;
    border-width: 3px;
    z-index: 2;
    transition: filter 0.54s;
    filter: brightness(1);
	width: 64px;
	height: 64px;
}
.pb-container,.sb-container {
	height:30px;
	width:200px;
	overflow:hidden;
	transform: translate(56px,47px);
	z-index: 1;
}
.sb-container {transform: translate(26px,24px)}
.pb-add[selected] {
	animation: glow 1s ease-in-out infinite alternate;
}
.pb-add:hover {
	filter: brightness(1.4);
}
.pb-add:active {
	filter: brightness(0.7);
}
.pb-img {
    border-radius: 50%;
    width: 64px;
    height: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pb-prog,.sb-prog {
	color: black;
	height: 100%;
}
.pb-filter {
	background: linear-gradient(
		to right,
		#39a15b,#d060a3,
		#a13939,#383d8b,
		#565fc1,#5a5529
	), linear-gradient(
		#565fc1,#5a5529,
		#39b47b,#725324,
		#39a15b,#d060a3
	);
	animation: pb-filter-x 4s infinite ease-in-out alternate,
			   pb-filter-y 4s 2s infinite ease-in-out alternate,
			   pb-filter-hue 10s infinite linear;
	background-size: 270% 1800%;
	background-blend-mode: hard-light;
	background-repeat: space;
	mix-blend-mode: hard-light;
	position: absolute;
	width: 100%;
	height: 100%;
}
.pb-level,.sb-level {
	display: table-cell;
	width: 90px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	transform: translate(270px,-56px);
	font-family: gameFont;
	white-space: pre-wrap;
	color: black;
}
.sb-level {transform: translate(240px,-16px);}
.pb-buy {
	width: 95px;
	height: 58px;
	border-radius: 0;
	border-width: 4px;
	transform: translate(370px,-110px);
	font-family: gameFont;
	white-space: pre-wrap;
	transition: font-size 0.5s;
	border-style: solid;
}
.pb-buy:hover {
	font-size: 14px
}
.pb-buy:active {
	font-size: 12px
}
.pb-text,.sb-text {
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-family: gameFont;
	text-align: center;
	white-space: pre-wrap;
	width: 100%;
	font-size: 12px;
}
.expt {
	font-family: jsab;
	font-size: 27px;
	font-style: italic;
	background: linear-gradient(
		#f44,
		#b00
	);
	-webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.2px #600;
	animation: lu-text-rainbow 12s infinite linear;
}
.menu-button {
	border-radius: 7px;
	border-width: 4px;
	font-family: gameFont;
	font-size: 16px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%);
    transition: font-size 0.5s, border-radius 0.5s;
    width: calc(100% - 16px);
    height: 40px;
}
.min-button {
	border-radius: 7px;
	border-width: 4px;
	font-family: gameFont;
	font-size: 16px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%);
    transition: font-size 0.5s, border-radius 0.5s;
    width: 40px;
    height: 40px;
	position: absolute;
	bottom: 8px;
	left: 8px;
}
.menu-button:active {
	filter: brightness(70%)
}
.menu-button:hover {
    font-size: 20px;
    border-radius: 15px;
}
.upg-button {
	border-radius: 15px;
	border-width: 7px;
	font-family: gameFont;
	font-size: 20px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%);
    width: 220px;
    height: 220px;
	white-space: pre-wrap;
	vertical-align: top;
	transition: border-radius 0.64s, filter 0.64s;
	filter: brightness(1);
}
.upg-button:hover {
	border-radius: 30px;
	filter: brightness(1.25);
}
.upg-button:active {
	border-radius: 10px;
	filter: brightness(0.75);
}
button {
	border-radius: 2.5px;
	border-width: 4px;
	font-family: gameFont;
	white-space: pre-wrap;
	border-color: #444;
	background-image: linear-gradient(#FFF 0, #CCC 100%);
}
.button {
	height: 48px;
}
.title {
	-webkit-background-clip: text;
	background-clip: text;
}
.basic-container {
	height: 30px;
	width: 200px;
	overflow: hidden;
	outline: 4px solid #333;
	background-image: linear-gradient(#FFF 0, #CCC 100%);
	position: relative;
	z-index: 100;
	margin: 12px auto;
}
.basic-prog {
	position: inherit;
	height: 100%;
	width: 40%;
	float: left;
	color: black;
	background-image: linear-gradient(#888 0, #555 100%);
	z-index: 2;
}
.basic-text {
	margin: 0;
	position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    top: 50%;
	transform: translateY(-50%);
	z-index: 3;
}
.glow-text {
	color: #f0f;
	text-shadow: 0 0 8px #f0f, 0 0 20px #3a0a87;
	font-size: 30px;
}
.glow-text#ascend-2 {
	color: #b42dff;
	text-shadow: 0 0 8px #b42dff, 0 0 20px #35204d;
}
.center {text-align: center;}
.prestige-gain {
	font-size: 14px;
	text-align: center;
	margin: 3px 0 7px 0;
	text-shadow: 0 0 5px rgb(162, 0, 255);
}
.main > h1 {
	font-size: 12px;
}
#progress-2 > #boost {
	font-size: 20px;
}
.ach-page {
	display: flow-root;
	height: 25vh;
	width: 100%;
	position: relative;
	min-height: 120px;
}
.ach-page>div {
	position:absolute;
	bottom: 0;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
}
.ach-page>div>button {
	padding: 4px 10px;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%);
	font-family: gameFont;
	border-radius: 8px;
	transition: border-radius 0.5s, filter 0.5s;
	font-size: 20px;
}
.ach-page>div>button:hover {
	border-radius: 15px;
	filter: brightness(1.4);
}
.ach-page>div>button:active {
	border-radius: 5px;
	filter: brightness(0.75);
}
.ach-screen {
	display: flow-root;
	height: 75%;
	text-align: center;
	min-height: 360px;
}
th>div {
	height: 115px;
	width: 115px;
	background-color: #719bbf;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
	border-radius: 10px;
	border: #2b3746 solid 4px;
	vertical-align: middle;
	position: relative;
	white-space:normal;
	text-align: center;
}
th>div[unlocked] {
	animation: glow2 1s ease-in-out infinite alternate;
}
th>div>span {
	font-size: 20px;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
#ach-desc {
	height: 35px;
}
#ach-desc>h1 {
	margin:auto;
	font-size: 18px;
	vertical-align:middle;
	transform: translateY(5px);
}
table {
	margin:auto;
}
input[type="range"] {
	-webkit-appearance: none;
	width: 225px;
	height: 14px;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
	border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 28px;
	width: 28px;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.25) 65%);
	cursor: pointer;
	border-radius: 50%;
}
textarea {
	background-image: linear-gradient(
        #0000,
        #0007
	);
	border-radius: 10px;
	animation-fill-mode: forwards;
}
.news {
	width: 100%;
	position:relative;
	margin: 0;
	height: 36px;
	text-align: center;
}
#newstext {
	font-size: 25px;
	margin: 0;
	white-space: nowrap;
}
.tabcontent {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}
.guide-item {
	width: 90%;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 15px;
	white-space: normal;
}
.guide-item > h1, .guide-item > h3 {
	margin: 10px 0;
}
.beta-recovery {
	width: 400px;
	font-size: 12px;
	white-space: pre-wrap;
	border-radius: 15px;
	display: flex;
	padding: 10px;
	background: linear-gradient(
		#eee8,
		#fffa 50%,
		#bbb7 50%,
		#6666
	);
}