textarea {
    background-image: black;
    border: 6px solid black;
    border-radius: 16px;
    font-size: 25px;
    font-family: Consolas;
    color: black;
}
canvas {
    outline: 4px solid white;
}
h2 {
    white-space: pre-wrap;
    text-align: start;
}