body {
	background-image: linear-gradient(
	    rgb(95, 98, 116),
	    rgb(53, 56, 65)
	)
}
.scr-progress {
	background-image: linear-gradient(
	    rgb(31, 210, 247),
	    rgb(21, 100, 213)
	);
}
.scr-progress-2 {
	background-image: linear-gradient(
	    rgb(31, 179, 247),
	    rgb(35, 73, 201)
	);
}
.scr-progress-3 {
	background-image: linear-gradient(
	    rgb(69, 124, 241),
	    rgb(89, 57, 207)
	);
}
.scr-options {
	background-image: linear-gradient(
	    rgb(13, 223, 125),
	    rgb(23, 97, 35)
	);
}
.scr-upgrades {
	background-image: linear-gradient(
	    rgb(255, 245, 140) 0%,
	    rgb(187, 154, 13) 100%
	);
}
.scr-stats {
	background-image: linear-gradient(
	    rgb(238, 0, 159) 0%,
	    rgb(221, 75, 7) 100%
	);
}
.scr-guide {
	background-image: linear-gradient(
	    rgb(64, 71, 109) 0%,
	    rgb(131, 104, 82) 100%
	);
}
.menu-progress {
	background-color: rgb(27, 192, 123);
	border-color: rgb(25, 95, 66)
}
.min-button {
	background-color: rgb(171, 238, 201);
	border-color: rgb(40, 110, 61);
	color: black;
}
.menu-progress-2 {
	background-color: rgb(116, 246, 255);
	border-color: rgb(47, 149, 189);
	color: black;
}
.menu-progress-3 {
	background-color: rgb(58, 137, 255);
	border-color: rgb(76, 96, 187);
}
.menu-options {
	background-color: rgb(211, 125, 27);
	border-color: rgb(105, 37, 19)
}
.menu-upgrades {
	background-color: rgb(13, 146, 223);
	border-color: rgb(22, 61, 119)
}
.menu-stats {
	background-color: rgb(217, 221, 0);
	border-color: rgb(172, 140, 0)
}
.menu-guide {
	background-color: rgb(0, 238, 255);
	border-color: rgb(14, 144, 196);
	color: black;
}
.menu-ach {
	background-color: rgb(86, 255, 151);
	border-color: rgb(14, 196, 23);
	color: black;
}
.upg-0 {
	background-color: rgb(0, 162, 255);
	border-color: rgb(0, 68, 214)
}
.upg-1 {
	background-color: rgb(255, 251, 0);
	border-color: rgb(179, 140, 12);
	color: black;
}
.upg-2 {
	background-color: rgb(20, 175, 90);
	border-color: rgb(16, 77, 63);
}
.upg-3 {
	background-color: rgb(182, 16, 233);
	border-color: rgb(104, 19, 161);
}
.upg-4 {
	background-color: rgb(233, 85, 16);
	border-color: rgb(112, 36, 0);
}
.title {
	color: rgb(0, 27, 87);
    background-image: linear-gradient(
        rgb(0, 27, 87) 46%,
        rgb(24, 68, 85) 64%,
        rgb(33, 82, 35) 80%
    );
    -webkit-text-fill-color: #0000;
    font-size: 40px;
}
.guide-item {
	color: white;
	background-image: linear-gradient(
		rgb(9, 119, 27) 0%,
        rgb(9, 80, 0) 100%
    );
	border: 7px solid #3eed9c;
}
.main > h1 {
	text-shadow: 0 0 5px white;
	color: black;
}
.ach-page {
	background-image: linear-gradient(
        #48d0f6 0%,
        #1b3aa9 100%
	);
}
.ach-page>div>button {
	background-color: #9dd1bb;
	border-color: #648571;
}
.ach-screen {
	background-image: linear-gradient(
        #26a050 0%,
        #114314 100%
	);
}
#ach-desc {
	background-image: linear-gradient(
        #ffcf46,
        #FF9800
	);
}
input[type="range"] {
	background-color: #cbd8e2;
	border: 2px solid #484c52
}
input[type="range"]::-webkit-slider-thumb {
	background-color: #4cba6a;
	border: 2px solid #114428
}
textarea {
	background-color: #d1e0ed;
	border: 2px solid #464c51;
}
.news {
	background-image: linear-gradient(
        rgb(16, 201, 124),
        rgb(30, 134, 91)
	);
}