body {
	background-image: linear-gradient(
	    rgb(173, 84, 32) 0%,
	    rgb(126, 58, 19) 100%
	);
	color: white;
}
.scr-progress {
	background-image: linear-gradient(
	    rgb(255, 187, 0) 0%,
	    rgb(224, 123, 8) 100%
	);
	background-attachment: fixed;
	min-height: 100%;
}
.scr-options {
	background-image: linear-gradient(
	    rgb(255, 187, 0) 0%,
	    rgb(224, 123, 8) 100%
	);
	background-attachment: fixed;
	min-height: 100%;
	text-align: center;
}
.scr-upgrades {
	background-image: linear-gradient(
	    rgb(255, 187, 0) 0%,
	    rgb(224, 123, 8) 100%
	);
	background-attachment: fixed;
	min-height: 100%;
}
.scr-stats {
	background-image: linear-gradient(
	    rgb(255, 187, 0) 0%,
	    rgb(224, 123, 8) 100%
	);
	background-attachment: fixed;
	min-height: 100%;
}
.scr-guide {
	background-image: linear-gradient(
	    rgb(90, 64, 15) 0%,
	    rgb(105, 18, 18) 100%
	);
	text-align: center;
	background-attachment: fixed;
	min-height: 100%;
}
.menu-button {
	background-color: rgb(255, 186, 82);
	border-color: rgb(119, 74, 48);
	color: black;
}
.min-button {
	background-color: rgb(199, 102, 28);
	border-color: rgb(92, 46, 32);
	color: black;
}
.menu-progress-2 {
	background-color: rgb(253, 255, 116);
	border-color: rgb(134, 119, 30);
}
.upg-0 {
	background-color: rgb(255, 115, 0);
	border-color: rgb(95, 32, 7);
	color: black;
}
.upg-1 {
	background-color: rgb(219, 166, 20);
	border-color: rgb(202, 87, 11);
	color: black;
}
.upg-2 {
	background-color: rgb(255, 0, 0);
	border-color: rgb(129, 0, 0);
	color: black;
}
.upg-3 {
	background-color: rgb(255, 255, 0);
	border-color: rgb(211, 95, 0);
}
.upg-4 {
	background-color: rgb(255, 170, 80);
	border-color: rgb(148, 83, 49);
}
.title {
	color: rgb(227, 234, 241);
    background-image: linear-gradient(
        rgb(227, 234, 241) 46%,
        rgb(219, 169, 128) 64%,
        rgb(211, 182, 155) 80%
    );
    -webkit-text-fill-color: #0000;
    font-size: 40px;
}
#statistics h3 {
	color: white;
}
.guide-item {
	color: rgb(0, 0, 0);
	background-image: linear-gradient(
		rgb(248, 132, 0) 0%,
        rgb(168, 55, 10) 100%
    );
	width: 90%;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 15px;
	border: 7px solid #fffb00;
}
.main > h1 {
	text-shadow: 0 0 5px white;
	color: white;
}
.ach-page {
	background-image: linear-gradient(
        #ff9341,
        #ff6600
	);
}
.ach-page>div>button {
	background-color: #ff1a00;
	border-color: #850c14;
}
.ach-screen {
	background-image: linear-gradient(
        #ffae00,
        #ffc471
	);
}
#ach-desc {
	background-image: linear-gradient(
        #ffe100,
        #ffff5b
	);
}
input[type="range"] {
	background-color: #ff6e00;
	border: 2px solid #7e390b
}
input[type="range"]::-webkit-slider-thumb {
	background-color: #ffc300;
	border: 2px solid #945008
}
textarea {
	background-color: #e69634;
	border: 2px solid #752f0f;
}