html {
	height: 100%;
}
body {
	background-image: linear-gradient(
	    rgb(95, 98, 116) 0%,
	    rgb(53, 56, 65) 100%
	)
}
.menu {
	top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    position: absolute;
}
.logo {
	width: 30.6%;
	height: auto;
	transform: translate(-8px, -8px)
}
.gamescreen {
	width: calc(70% - 4px);
	height: 100%;
	right: 0%;
	top: 0%;
	position: absolute;
	padding-left: 4px;
	overflow: auto;
}
.tabcontent {
	right: 0%;
	top: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
}
.scr-progress {
	background-image: linear-gradient(
	    rgb(31, 210, 247) 0%,
	    rgb(21, 100, 213) 100%
	);
}
.scr-options {
	background-image: linear-gradient(
	    rgb(13, 223, 125) 0%,
	    rgb(23, 97, 35) 100%
	);
}
.scr-upgrades {
	background-image: linear-gradient(
	    rgb(255, 245, 140) 0%,
	    rgb(187, 154, 13) 100%
	);
}
.scr-stats {
	background-image: linear-gradient(
	    rgb(238, 0, 159) 0%,
	    rgb(221, 75, 7)100%
	);
}
.progress {
	height: 61px;
	margin: 4px;
}
.pb-add {
    padding: 0;
    border-radius: 50%;
    border-width: 3px;
    position: absolute;
    z-index: 2;
}
.pb-img {
    border-radius: 50%;
    width: 55px;
    height: auto;
}
.pb-container {
	height:30px;
	width:200px;
	overflow:hidden;
	transform: translate(56px,16px);
	position: absolute;
	z-index: 1;
}
.pb-prog {
	height:100%;
	width:0%;
	float:left;
}
.pb-level {
	display: table-cell;
	width: 90px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	transform: translate(270px,6px);
	font-family: gameFont;
	white-space: pre-wrap;
}
.pb-buy {
	width: 95px;
	height: 58px;
	border-radius: 0;
	border-width: 4px;
	transform: translate(370px,-48px);
	font-family: gameFont;
	white-space: pre-wrap;
}
.pb-text {
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-family: gameFont;
	text-align: center;
	white-space: pre-wrap;
	width: 100%;
	font-size: 12px;
}
@font-face {
    font-family: gameFont;
    src: url(https://fonts.cdnfonts.com/s/9006/MonospaceTypewriter.woff);
}
h1, h2, h3, h4, h5, h6 {
	font-family: gameFont;
}
.menu-button {
	border-radius: 7px;
	border-width: 4px;
	font-family: gameFont;
	font-size: 16px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 51%);
    transition: font-size 0.5s, border-radius 0.5s;
    width: calc(30% - 11px);
    height: 40px;
}
.menu-button:active {
	filter: brightness(70%)
}
.menu-button:hover {
    font-size: 20px;
    border-radius: 15px;
}
.menu-progress {
	background-color: rgb(27, 192, 123);
	border-color: rgb(25, 95, 66)
}
.menu-options {
	background-color: rgb(211, 125, 27);
	border-color: rgb(105, 37, 19)
}
.menu-upgrades {
	background-color: rgb(13, 146, 223);
	border-color: rgb(22, 61, 119)
}
.menu-stats {
	background-color: rgb(217, 221, 0);
	border-color: rgb(172, 140, 0)
}
.upg-button {
	border-radius: 15px;
	border-width: 7px;
	font-family: gameFont;
	font-size: 20px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 51%);
    width: 220px;
    height: 220px;
	white-space: pre-wrap;
}
.upg-0 {
	background-color: rgb(0, 162, 255);
	border-color: rgb(0, 68, 214)
}
.title {
	color: rgb(0, 27, 87);
    background-image: linear-gradient(
        rgb(0, 27, 87) 46%,
        rgb(24, 68, 85) 64%,
        rgb(33, 82, 35) 80%
      );
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    font-size: 40px;
}