body {
	text-align: center;
	background-color: black;
	color: white;
	font-family: common
}
@font-face {
    font-family: common;
    src: url(https://fonts.cdnfonts.com/s/9006/MonospaceTypewriter.woff);
}
@keyframes glow {
	from {
		filter: brightness(2.2);
	}
	to {
		filter: brightness(1.6);
	}
}
button[selected] {
    animation: glow 1s ease-in-out infinite alternate;
	background-color: #777;
	color: black
}
input[type="file"]::-webkit-file-upload-button,
button, input, textarea {
	border-radius: 7px;
	padding: 7px;
	font-size: 16px;
	font-family: common;
	border: white 2px solid;
}
input[type="file"]::-webkit-file-upload-button {
    animation: glow 1s ease-in-out infinite alternate;
	background-color: #fff;
	color: black;
}
button {
	background-color: black;
	color: white;
}
button>img {
	width: 16px;
	height: auto;
}
button>.img {
	width: 30px;
	height: auto;
}
.imgb {
	padding: 0;
}
button[off] {
	background-image: linear-gradient(
		#272727 0%,
		#161616 100%
	);
}
input {
	background-color: black;
	color: white;
}
canvas {
	border: white 2px solid;
	padding: 7px;
	font-size: 16px;
	font-family: common
}
textarea {
	padding: 1px;
	font-size: 14px;
	margin: 4px;
}
a         {color: rgb(255, 255, 255)}
a:visited {color: rgb(196, 220, 255)}
input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 0px;
    background-color: black;
    border: 2px #ffffff solid;
    border-radius: 8px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}