body {
    display: grid;
    margin: 0px;
    overflow: hidden;
    background-color: black;
}
#screen {
    width: 100%;
    height: 84vh;
    vertical-align: bottom;
}
#cmd {
    width: 100%;
    height: 16vh;
    background-color: #000;
    outline: 4px solid white;
}
#dialogue {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin:0px;
    font-size: 75px;
    text-align: center;
    font-family: Courier New;
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
}
#cmdinput {
    width: 80%;
    height: 50px;
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translateX(-50%) translateY(-96%);
    border: 3px solid magenta;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: Lucida Console;
    box-shadow: 0px 0px 10px 5px #f0f;
}
.button {
    padding: 0;
    border: 3px solid cyan;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px #0ff;
    background-color: black;
    position: absolute;
    top: 96%;
    left: calc(95%);
    transform: translateX(-50%) translateY(-96%);
    padding:0px;
}
.button>img {
    height: 50px;
    width: auto;
    transform: translateY(2px)
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(179, 64, 233), 0 0 20px rgb(228, 25, 255), 0 0 30px rgb(40, 79, 161), 0 0 50px rgb(25, 83, 59);
    }
    to {
        text-shadow: 0 0 6px rgb(179, 64, 233), 0 0 15px rgb(228, 25, 255), 0 0 22px rgb(40, 79, 161), 0 0 35px rgb(25, 83, 59);
    }
}